.stocks{
    width: 100%;
    display: flex;
    justify-content: center;
}

.actions{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.actions .btn{
    padding: 10px 25px;
    border: 0px;
    outline: none;
    background-color: var(--secondary);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}