<div class="navbar">
    <div class="brand">Smartie Estoque</div>
    <nav>
        <a routerLink="/dashboard"><span class="material-symbols-outlined">apps</span> Dashboard</a>
        <a routerLink="/products"><span class="material-symbols-outlined">category</span> Produtos</a>
        <a routerLink="/stock"><span class="material-symbols-outlined">collections_bookmark</span> Estoque</a>
        <a routerLink="/account"><span class="material-symbols-outlined">account_circle</span> {{ contextService.user.name }}</a>
    </nav>
</div>