:root{
    --primary: #FFD700;
    --primary-hover: #d0b000;
    --secondary: #722f37;
    --secondary-hover: #4b1f24;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}